name: Build Pipeline

on: [push]

jobs:
  build:
    name: Build test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '25'
          cache: maven
      #Build
      - name: Build with Maven
        run: mvn clean package spring-boot:repackage
